### Gradle ###
.gradle
bin/
tmp/

### Maven ###
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
logs/

### Visual Studio Code ###
.vscode
.history/

### User config
config/*.json
config/*.sql
config/application-*.yml
src/main/resources/application-*.yml
infer-out

### MacOS
.DS_Store
