# (Re)set the values for cf.apiHost, cf.username, and cf.password
# or set these as environment variables or command-line arguments. E.g.,
#
# as Environment variables
#
# CF_API_HOST=api.run.pivotal.io
# CF_USERNAME=me@host.io
# CF_PASSWORD=xXxXxX
#
# as Command-line arguments
#
# -Dcf.apiHost=api.run.pivotal.io
# -Dcf.username=me@host.io
# -Dcf.password=xXxXxX
#
cf:
  apiHost: api.run.pivotal.io
  username: replace_me
  password: replace_me
  sslValidationSkipped: false
  connectionPoolSize: 250
  connectionTimeout: PT10M
  organizationBlackList:
    - system
    - credhub-service-broker-org
    - p-spring-cloud-services
  buildpacks:
    - apt
    - binary
    - clojure
    - dotnet
    - elixir
    - emberjs
    - erlang
    - go
    - haskell
    - hwc
    - java
    - jboss
    - jetty
    - liberty
    - markdown
    - mendix
    - meta
    - meteor
    - nginx
    - nodejs
    - php
    - pyspark
    - python
    - r_buildpack
    - ruby
    - rust
    - staticfile
    - swift
    - tc
    - tomcat
    - tomee
    - weblogic

# Set schedule for this task to adhere to
# @see https://crontab.guru for help, first parameter is seconds
cron:
  # the top of every hour daily
  collection: "0 0 * * * *"
  # at 5:30am on Mondays weekly
  execution: "0 30 5 * * MON"

management:
  endpoints:
    web:
      exposure:
        include: info,health,metrics,scheduledtasks,loggers,prometheus
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true

# Options are: none, java-mail or sendgrid
notification:
  engine: none

spring:
  codec:
    max-in-memory-size: 512000000
  main:
    allow-bean-definition-overriding: true
  r2dbc:
    url: r2dbc:pool:h2:mem:///cf-butler?options=DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    name: cf-butler
    username: sa
    password: 

# Java Mail
# Reset the values for spring.mail.username, spring.mail.password
# Configuration below is set up to work w/ a Gmail account
# @see http://www.baeldung.com/spring-email

  mail:
    host: smtp.gmail.com
    port: 587
    username: replace_me
    password: replace_me
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# SendGrid API key (alternative to username/password).
  sendgrid:
    api-key: replace_me
