# (Re)set the values for cf.apiHost, cf.username, and cf.password
# or set these as environment variables or command-line arguments. E.g.,
#
# as Environment variables
#
# CF_API_HOST=api.run.pivotal.io
# CF_USERNAME=me@host.io
# CF_PASSWORD=xXxXxX
#
# as Command-line arguments
#
# -Dcf.apiHost=api.run.pivotal.io
# -Dcf.username=me@host.io
# -Dcf.password=xXxXxX
#
cf:
  apiHost: api.run.pivotal.io
  username: replace_me
  password: replace_me
  sslValidationSkipped: false
  organizationBlackList:
    - system
  policies:
    #provider: git
    provider: dbms
    #uri: 
    #commit:
    #filePaths:

logging:
  level:
    org.springframework: INFO
    #reactor: DEBUG
    #org.davidmoten: DEBUG

# Set schedule for this task to adhere to
# @see https://crontab.guru for help, first parameter is seconds
cron:
  collection: "0 0 0 * * *"
  execution: "0 0 2 * * *"

management:
  endpoints:
    web:
      exposure:
        include: info,health,metrics,scheduledtasks,loggers 
  
---
spring:
  profiles: jdbc

  datasource:
    driver-class-name: org.hsqldb.jdbc.JDBCDriver
    url: jdbc:hsqldb:mem:cf-butler
    username: sa
    password: 

---
## Assumes naming convention for secrets service
## Name of credhub service instance must be cf-butler-secrets
spring:
  profiles: secrets
  profiles.include: 
  - jdbc

  credhub:
    url: https://credhub.service.cf.internal:8844

cf:
  apiHost: ${vcap.services.cf-butler-secrets.credentials.CF_API-HOST}
  username: ${vcap.services.cf-butler-secrets.credentials.CF_USERNAME}
  password: ${vcap.services.cf-butler-secrets.credentials.CF_PASSWORD}
  refreshToken: ${vcap.services.cf-butler-secrets.credentials.CF_REFRESH-TOKEN}
  organizationBlackList: ${vcap.services.cf-butler-secrets.credentials.CF_ORGANIZATION-BLACK-LIST}
  policies:
    provider: ${vcap.services.cf-butler-secrets.credentials.CF_POLICIES_PROVIDER:dbms}
    uri: ${vcap.services.cf-butler-secrets.credentials.CF_POLICIES_URI}
    commit: ${vcap.services.cf-butler-secrets.credentials.CF_POLICIES_COMMIT}
    filePaths: ${vcap.services.cf-butler-secrets.credentials.CF_POLICIES_FILE-PATHS}

token:
  provider: ${vcap.services.cf-butler-secrets.credentials.TOKEN_PROVIDER}
  
cron: 
  collection: ${vcap.services.cf-butler-secrets.credentials.CRON_COLLECTION:0 0 0 * * *}
  execution: ${vcap.services.cf-butler-secrets.credentials.CRON_EXECUTION:0 0 2 * * *}
  
management:
  endpoints:
    web:
      exposure:
        include: ${vcap.services.cf-butler-secrets.credentials.EXPOSED_ACTUATOR_ENDPOINTS:info,health,metrics,scheduledtasks,loggers}
