name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [ 17, 20 ]
    name: Java ${{ matrix.java }} sample
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven targeting H2 backend
        run: ./mvnw --batch-mode --update-snapshots -Plog4j2 clean verify
      - name: Build with Maven targeting MySQL backend
        run: ./mvnw --batch-mode --update-snapshots -Drdbms=mysql -Plog4j2 clean verify
      - name: Build with Maven targeting Postgresql backend
        run: ./mvnw --batch-mode --update-snapshots -Drdbms=postgres -Plog4j2 clean verify
