name: Publish package to GitHub Packages
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
      - name: Publish package capable of targeting H2 in-memory backend
        run: ./mvnw versions:set -DnewVersion=${{ github.event.release.tag_name }} && ./mvnw --batch-mode --update-snapshots -Plog4j2 clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package capable of targeting MySQL backend
        run: ./mvnw versions:set -DnewVersion=mysql-${{ github.event.release.tag_name }} && ./mvnw --batch-mode --update-snapshots -Ddbms=mysql -Plog4j2 clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package capable of targeting Postgresql backend
        run: ./mvnw versions:set -DnewVersion=postgres-${{ github.event.release.tag_name }} && ./mvnw --batch-mode --update-snapshots -Drdbms=postgres -Plog4j2 clean deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
